@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.gameContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    min-width: 425px;
    background-color: #182222;
    z-index: 1000;
    box-shadow: 0px 0px 4px 0px #182222;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Boxes*/
header, section, button {
    margin-bottom: 20px;
    background: #68B984;
    color: #182222;
}

section, button {
    border-radius: 0.5em;
}

header {
    padding: 0.8px;
    padding-left: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #182222;
}

main {
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    min-width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-weight: bold;
    font-family: 'Nerko One';
    font-size: 2.5em;
    margin: 0.67em 0;
}

h2 {
    font-family: 'Nerko One';
    font-size: 1.5em;
}

.buttonsDiv {
    width: 100%;
}

button {
    display: block;
    width: 100%;
    height: 2.5em;
    font-weight: bold;
    font-size: 1em;
    background-color: #6fab84;
    cursor: pointer;
}

p {
    margin-bottom: 40px;
}

.resultMsg {
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white, 2px 0px 0 white, 0px 2px 0 white, -2px 0px 0 white, 0px -2px 0 white
}

.incorrectSection {
    color: red
}

.backgroundContainer {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #FED049, #CFFDE1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: 1;
    overflow: hidden;
}

.gridBackground {
    color: #0001;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "a c . . . . ."
      "a c . . . e e"
      "b b . . . d j"
      "f f . . . d j"
      "i h . . g g l"
      "i h . . . k l";
}

.f {
    grid-area: f;
    font-size: 5em;
    transform: rotate(-20deg);
}

.a {
    grid-area: a;
    font-size: 5em;
    transform: rotate(80deg);
}

.b {
    grid-area: b;
    font-size: 7em;
    transform: rotate(-40deg);
}

.c {
    grid-area: c;
    font-size: 5em;
    transform: rotate(-65deg);
}

.d {
    grid-area: d;
    font-size: 5em;
    transform: rotate(130deg);
}

.e {
    grid-area: e;
    font-size: 5em;
    transform: rotate(120deg);
}

.g {
    grid-area: g;
    font-size: 7em;
    transform: rotate(180deg);
}

.h {
    grid-area: h;
    font-size: 5em;
    transform: rotate(-10deg);
}

.i {
    grid-area: i;
    font-size: 5em;
    transform: rotate(120deg);
}

.j {
    grid-area: j;
    font-size: 7em;
    transform: rotate(30deg);
}

.k {
    grid-area: k;
    font-size: 5em;
    transform: rotate(215deg);
}

.l {
    grid-area: l;
    font-size: 5em;
}

@media (max-width: 768px) {

    .backgroundContainer{
        display: none;
    }

    .gameContainer {
        width: 100%;
    }
}